<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 
		<bean name="/login" 
		class="com.neusoft.logistics.action.*.*">
		<property name="*Service" ref="*Service"></property>
		</bean> 
	-->

	<!--张文华 customerInfo  -->
	<bean name="/customerInfo"
		class="com.neusoft.logistics.action.customerservice.CustomerInfoAction">
		<property name="customerInfoService"
			ref="customerInfoService">
		</property>
	</bean>

	<!--张文华 productInfo  -->
	<bean name="/productInfo"
		class="com.neusoft.logistics.action.dispatcherCenterManage.ProductInfoAction">
		<property name="queryProductService"
			ref="queryProductService">
		</property>
		<property name="manageProductService"
			ref="manageProductService">
		</property>
	</bean>

	<!--张文华 orderProductInfo  -->
	<bean name="/orderProductInfo"
		class="com.neusoft.logistics.action.customerservice.OrderProductInfoAction"> 
		<property name="orderProductInfoService" ref="orderProductInfoService"></property>
		<property name="queryCategoryService" ref="queryCategoryService"></property>
		<property name="customerInfoService" ref="customerInfoService"></property>
	</bean>
</beans>
