<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
 
<!--- 李莎  -->
  <bean id="subGetAllTaskService" class="com.neusoft.logistics.service.impl.submanage.SubGetAllTaskServiceImpl">
 <property name="taskOrderDao" ref="taskOrderDAO"></property>
 <property name="orderDao" ref="orderDAO"></property>
 </bean>
 <!---李莎-->
  <bean id="subGetAllDelivermanService" class="com.neusoft.logistics.service.impl.submanage.SubGetAllDelivermanServiceImpl">
 <property name="substationDAO" ref="substationDAO"></property>
 <property name="productDao" ref="productDAO"></property>
 </bean>
  <!---李莎-->
  <bean id="subSaveFeedbackTaskService" class="com.neusoft.logistics.service.impl.submanage.SubSaveFeedbackTaskServiceImpl">
 <property name="feedbackDAO" ref="feedBackOrderDAO"></property>
 <property name="taskorderDAO" ref="taskOrderDAO"></property>
  <property name="orderDAO" ref="orderDAO"></property>
 </bean>
 <bean id="payService" class="com.neusoft.logistics.service.impl.submanage.SubPaymentSearchServiceImpl">
 <property name="taskOrderDao" ref="taskOrderDAO"></property>
  <property name="orderDao" ref="orderDAO"></property>
 </bean>

    
 
</beans>
