<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!--李亚方-->

	<bean id="searchPurchaseOrderItemService"
		class="com.neusoft.logistics.service.impl.storemanage.SearchPurchaseOrderItemServiceImpl">
		<property name="purchaseInStorageOrderItemDAO" ref="purchaseInStorageOrderItemDAO"></property>
		<property name="purchaseInstorageOrderDAO" ref="purchaseInstorageOrderDAO"></property>
		<property name="storageInfoDAO" ref="storageInfoDAO"></property>
	    <property name="shortageOrderDAO" ref="shortageOrderDAO"></property>
	    <property name="warehouseDAO" ref="warehouseDAO"></property>
	   
	</bean> 
	<bean id="outStorageService"
		class="com.neusoft.logistics.service.impl.storemanage.OutStorageServiceImpl">
		<property name="allocationDAO" ref="allocationDAO"></property>
		<property name="dispatchOrderDAO" ref="dispatchOrderDAO"></property>
		<property name="dispatchOrderItemDAO" ref="dispatchOrderItemDAO"></property>
		<property name="outStorageOrderDAO" ref="outStorageOrderDAO"></property>
		<property name="outStorageOrderItemDAO" ref="outStorageOrderItemDAO"></property>
		<property name="orderDAO" ref="orderDAO"></property>
		<property name="orderItemDAO" ref="orderItemDAO"></property>
		<property name="taskOrderDAO" ref="taskOrderDAO"></property>
		<property name="storageInfoDAO" ref="storageInfoDAO"></property>
		<property name="substationDAO" ref="substationDAO"></property>
		<property name="warehouseDAO" ref="warehouseDAO"></property>
	</bean> 

</beans>
