<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	
    <!--龚玉斌 purchaseProduct-->
	<bean name="/purchaseProduct" 
		class="com.neusoft.logistics.action.dispatcherCenterManage.purchaseproduct.PurchaseProductAction">
		<property name="purchaseProductService" ref="purchaseProductService"></property>
	</bean>
	
   <!-- 龚玉斌 returnProduct-->
	<bean name="/returnProduct" 
		class="com.neusoft.logistics.action.dispatcherCenterManage.returnProduct.ReturnProductAction">
	</bean>

  <!-- 龚玉斌 customerSatisfaction
	<bean name="/customerSatisfaction" 
		class="com.neusoft.logistics.action.dispatcherCenterManage.statisticInfo.CustomerSatisfactionAction">
	<property name="customerSatisfactionService" ref="customerSatisfactionService"></property>
	</bean>
  -->

	

</beans>
