<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--李亚方  中心库房购货入库 -->
	<bean name="/PurchaseProductOrderItemStore" 
		class="com.neusoft.logistics.action.storemanage.PurchaseProductOrderItemStoreAction">
		<property name="searchPurchaseOrderItemService" ref="searchPurchaseOrderItemService"></property>
		
	</bean>
	 <!--李亚方  中心库房调拨出库-->
	<bean name="/AllocationOrderStore" 
		class="com.neusoft.logistics.action.storemanage.AllocationOrderStoreAction">
		<property name="outStorageService" ref="outStorageService"></property>
    </bean>
</beans>
